# data
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/plots/.gitkeep
!data/geocoding/.gitkeep

# secrets
secrets/geocoding/*

!secrets/geocoding/.gitkeep


# env
.env/
.env
env/

# notebooks checkpoints
.ipynb_checkpoints/

.vscode/

__pycache__/


# Virtual env
venv/
.venv/

#PyCharm features
.idea/
