data/cache/*
data/interim/*
data/processed/*
data/raw/*
report/*


!data/cache/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!data/raw/.gitkeep
!report/.gitkeep


!*.dvc
!.dvc/config

secrets/*

!secrets/geocoding/.gitkeep

.env/
.env
env/
.ipynb_checkpoints/
.vscode/
__pycache__/
venv/
.venv/
.idea/

.claude/settings.local.json
