data/raw/*.csv filter=lfs diff=lfs merge=lfs -text
data/raw/*.xlsx filter=lfs diff=lfs merge=lfs -text
data/raw/*.parquet filter=lfs diff=lfs merge=lfs -text
data/processed/*.parquet filter=lfs diff=lfs merge=lfs -text
data/geocoding/*.parquet filter=lfs diff=lfs merge=lfs -text
