# data
data/raw/*
data/processed/*
data/plots/*
data/geocoding/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!data/plots/.gitkeep
!data/geocoding/.gitkeep

# secrets
secrets/*

!secrets/.gitkeep


# env
.env/
.env.*

# notebooks checkpoints
.ipynb_checkpoints/

# large files
*.csv
*.parquet
*.xlsx
*.html

.vscode/

__pycache__/